@import "../variables";

.footer-brand,
.footer-social,
.footer-links {
  padding: 7rem 0;
}

.footer-brand {
  a {
    font-family: "Norse";
    color: map-get($palette, primary) !important;
    font-size: 1.7rem;
  }

  img{
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .footer-brand,
  .footer-social,
  .footer-links {
    padding: 2rem 0;
  }
}
